.head{
    background-color: var(--color-table-head);
    font-weight: 600;
}
.rule-element{
    display: flex;
    align-items: center;

    padding: var(--pad-sm) var(--pad-md);
    padding-right: 0;

    font-family: var(--roboto);
    font-size: var(--fs-md);

    border-radius: var(--radius);
    border: 1px solid var(--color-border);
    margin-bottom: var(--space-5);


    .num{
        flex: 0.5;
    }
    .name{
        flex: 2;
    }
    .rule{
        flex: 5;
        min-width: 0;
        >div{
            max-width: 90%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
    .type{
        flex: 1;
    }
    .delete-icon{
        flex: 0.3;
        margin-right: var(--space-2);
        color: var(--color-danger);
    }
    .drag-icon{
        flex: 0.3;
        color: var(--color-text);
    }
}
