.head{
    background-color: var(--color-table-head);
    font-weight: 600;
}
.rule-element{
    display: flex;
    align-items: center;

    padding: var(--pad-sm) var(--pad-md);
    padding-right: 0;

    font-family: var(--roboto);
    font-size: var(--fs-md);

    border-radius: var(--radius);
    border: 1px solid var(--color-border);
    height: 50px;

    .num{
        flex: 0.5;
    }
    .name{
        flex: 2;
        min-width: 0;
    }
    .rule{
        flex: 5;
        min-width: 0;
        > *{
            max-width: 90%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
    .priority{
        flex: 1;
        display: flex;
        justify-content: center;
    }
    .type{
        flex: 0.8;
    }
    .delete-icon{
        flex: 0.3;
        margin-right: var(--space-2);
        color: var(--color-danger);
    }
    .edit-icon{
        flex: 0.3;
        color: var(--color-text);
    }
    .confirm{
        color: var(--color-success);
    }
}

.add{
    
    display: flex;
    justify-content: center;
    align-self: center;
    gap: var(--space-2);
    max-width: fit-content;

    border-width: 2px;
    padding: var(--pad-md);

    font-weight: 600;
    cursor: pointer;
    font-size: calc(var(--fs-md) + 1px);

    color: var(--color-text-brighter);
}
