input{
    padding: var(--pad-2xs) var(--pad-sm);
    background-color: var(--white);
    border: none;
    width: 90%;
    > * {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
input:focus{
    box-shadow: none;
    border: none;
    outline: none;
    background-color: var(--white-active);
}
button{
    padding: var(--pad-2xs) var(--pad-sm);
    border-radius: var(--radius);
}
button:hover{
    background-color: var(--white-hover);
}